#!/bin/bash
################################################################################
# Purpose:
#     Configuration file to be used by dynamodb_backup.sh script.
################################################################################

# AWS profile to use from ~/.aws/credentials file.
aws_profile="default"
# Location of dynamodump.py.
dynamodump="python /root/git/dynamodump/dynamodump.py"
# AWS region.
region="us-east-1"
# Read capactiy to use during export.
readCapacity=1000
# List of DynamoDB tables to be included. Supports regex.
# Example: tables_include='^table1$|^table2$|^table3$'
tables_include='.*'
# List of DynamoDB tables to be excluded. Supports regex.
# Example: tables_exclude='^dev_|^test_'
tables_exclude='^Dev_|^Development_|^Test_'
# Backup directory.
bkup_dir=/backups/dynamodb
