# Number of daily backups to retain in S3.
num_daily_bkups=5
# Number of weekly backups to retain in S3.
num_weekly_bkups=5
# Number of monthly backups to retain in S3.
num_monthly_bkups=5
# Number of yearly backups to retain in S3.
num_yearly_bkups=2
# AWS profile to use by connection.
aws_profile='dba-backups-s3'
# Logs.
log="$dir_to_upload/s3_backup.log"
log_err="$dir_to_upload/s3_backup.err"
